*.iml
.gradle
local.properties
.idea
.vscode
app/build
app/release
app/*.json
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
Backend/.idea
Backend/.vscode
Backend/firebase_cpp_sdk
Backend/build
Backend/*.json
Backend/utils
Backend/helpers/*.jpg
Backend/log.txt
